<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{bundle.titulo}</title>
        <style type="text/css">
    .ui-diagram-element {   
        width:14em; 
        height:4em;     
        line-height:4em;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
        border-radius: 4px;
        border: 1px solid transparent;
        background-color: #98AFC7;
        color: #ffffff;
    }
 
    .ui-diagram-success {
        background-color: #9CB071;
        color: #ffffff;
        border-color: #7ab02c;
    }
 
    .ui-diagram-fail {
        background-color: #C34A2C;
        color: #ffffff;
    }
 
    .flow-label {
        font-size: 24px;
        font-weight: bold;
        color: #816A51;
    }
</style>
    </h:head>
    <h:body>
        <h:form>
            <p:growl id="pnlErrores"/>
            <p:panel header="Vista Gráfica">
                <p:diagram value="#{beanParqueadero.model}" style="height:600px" styleClass="ui-widget-content" />
            </p:panel>
            
            <p:panel header="#{bundle.titulo} #{beanParqueadero.listaVehiculos.contarNodos()}" id="pnlDatosVehiculo">
                <p:panelGrid columns="2" >
                    
                    <p:outputLabel for="psoTipVeh" value="Tipo de Vehículo:"/>
                    <p:selectOneMenu id="psoTipVeh" required="true" value="#{beanParqueadero.tipoVehiculoSeleccionado}"
                                     disabled="#{beanParqueadero.deshabilitarNuevo}" style="width: 120px;"
                                     >
                        <f:selectItem itemValue="0" itemLabel="Seleccione uno ..." itemEscaped="true"/>
                        <f:selectItem itemValue="1" itemLabel="Moto"/>
                        <f:selectItem itemValue="2" itemLabel="Automovil"/>
                        <f:selectItem itemValue="3" itemLabel="Buseta"/>
                        <p:ajax event="change" update="@all"/>
                    </p:selectOneMenu>
                    
                    <p:outputLabel for="pitPlaca" value="#{bundle.placa}"/>
                    <p:inputText id="pitPlaca" required="true" disabled="#{beanParqueadero.deshabilitarNuevo or beanParqueadero.tipoVehiculoSeleccionado==0}"
                                 value="#{beanParqueadero.nodoMostrar.dato.placa}"
                                 maxlength="6"/>
                    <p:outputLabel for="calFechaIngreso" value="#{bundle.fechaIngreso}"/>
                    <p:calendar value="#{beanParqueadero.nodoMostrar.dato.fechaHoraEntrada}" 
                                id="calFechaIngreso" required="true" 
                                disabled="#{beanParqueadero.deshabilitarNuevo or beanParqueadero.tipoVehiculoSeleccionado==0}" showOn="button" readonlyInput="true" pattern="MM/dd/yyyy HH:mm:ss"/>
                    <p:outputLabel value="Fecha Salida:"/>
                    <p:calendar value="#{beanParqueadero.nodoMostrar.dato.fechHoraSalida}" 
                                disabled="#{beanParqueadero.deshabilitarNuevo or beanParqueadero.tipoVehiculoSeleccionado==0}" showOn="button" readonlyInput="true" pattern="MM/dd/yyyy HH:mm:ss"/>
                    
                    <p:outputLabel for="pitValorPagar" value="Valor a Pagar:"/>
                    <p:inputText id="pitValorPagar" value="#{beanParqueadero.nodoMostrar.dato.valorAPagar}"
                                 disabled="#{beanParqueadero.deshabilitarNuevo or beanParqueadero.tipoVehiculoSeleccionado==0}" 
                                 >
                        <f:validateDoubleRange minimum="0"/>
                        
                    </p:inputText>
                    <p:outputLabel value="Casco: " rendered="#{beanParqueadero.tipoVehiculoSeleccionado==1}"/>
                    <p:selectBooleanCheckbox disabled="#{beanParqueadero.deshabilitarNuevo}" 
                                             value="#{beanParqueadero.opcionSeleccionado}"
                                             rendered="#{beanParqueadero.tipoVehiculoSeleccionado==1}"/>
                    <p:outputLabel value="Pasacintas: " rendered="#{beanParqueadero.tipoVehiculoSeleccionado==2}"/>
                    <p:selectBooleanCheckbox disabled="#{beanParqueadero.deshabilitarNuevo}"
                                             value="#{beanParqueadero.opcionSeleccionado}"
                                             rendered="#{beanParqueadero.tipoVehiculoSeleccionado==2}"/>
                    <p:outputLabel value="Número de Asientos: " rendered="#{beanParqueadero.tipoVehiculoSeleccionado==3}"/>
                    <p:spinner min="5" max="40" disabled="#{beanParqueadero.deshabilitarNuevo}" 
                               rendered="#{beanParqueadero.tipoVehiculoSeleccionado==3}"
                               value="#{beanParqueadero.numeroAsientos}"/>

                </p:panelGrid>

            </p:panel >
            <h:panelGroup layout="block" id="pnlBotones">
                <p:commandButton value="#{bundle.btnPrimero}" action="#{beanParqueadero.irAlPrimero()}"
                                 update="@all"/>
                <p:commandButton value="#{bundle.btnSiguiente}" action="#{beanParqueadero.irAlSiguiente()}"
                                 update="@all"/>
                <p:commandButton value="#{bundle.btnUltimo}"/>
                <p:commandButton value="#{bundle.btnNuevo}"
                                 action="#{beanParqueadero.habilitarGuardado()}" update="pnlDatosVehiculo,pnlBotones"
                                 rendered="#{beanParqueadero.deshabilitarNuevo}"/>
                <p:commandButton value="#{bundle.btnGuardar}" update="@all"
                                 rendered="#{!beanParqueadero.deshabilitarNuevo and beanParqueadero.tipoVehiculoSeleccionado!=0}"
                                 action="#{beanParqueadero.guardarVehiculo()}"/>
                
                <p:commandButton value="#{bundle.btnGuardarInicio}" update="@all"
                                 rendered="#{!beanParqueadero.deshabilitarNuevo and beanParqueadero.tipoVehiculoSeleccionado!=0}"
                                 action="#{beanParqueadero.guardarVehiculoAlInicio()}"/>

                <p:commandButton value="Invertir" update="@all"
                                 rendered="#{beanParqueadero.deshabilitarNuevo 
                                             and beanParqueadero.listaVehiculos.cabeza!=null}"
                                 
                                 action="#{beanParqueadero.invertir()}"/>
                
                <p:commandButton value="Eliminar" update="@all"
                                 rendered="#{beanParqueadero.listaVehiculos.cabeza!=null}"
                                 
                                 action="#{beanParqueadero.eliminarVehiculo()}"/>

            </h:panelGroup>
        </h:form>
    </h:body>
</html>

